body {
  min-width: 320px;
  max-width: 1440px;
  height: calc(100vh - 4em);
  max-height: calc(100vh - 4em);
  background-color: #fafafa;

  font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  margin: 0 auto;
  padding: 2em;
}

.ant-table-footer {
  background: none !important;
  position: absolute;
}

.ant-notification-notice.ant-notification-notice-success {
  background-color: #d9f7be;
}

.ant-notification-notice.ant-notification-notice-error {
  background-color: #ffccc7;
}

.ant-notification-notice.ant-notification-notice-info {
  background-color: #bae7ff;
}

.ant-notification-notice.ant-notification-notice-warning {
  background-color: #ffffb8;
}

.ant-notification-notice .ant-notification-notice-message {
  font-weight: 600;
}

.ant-form-item-explain-error {
  font-size: 0.75rem;
}

.ant-input-number,
.ant-input-number-affix-wrapper {
  width: 100%;
}
